<div class="container">
    <h1 style="color: yellowgreen;"><b>Đặt câu hỏi</b>
    </h1>
    <form action="/ask" method="POST">
        <textarea id="input" class="form-control" rows="7" cols="100" type="text" name="question"></textarea><br>
        <span>Còn <span id="character">/200 kí tự</span></span><br>
        <button class="btn btn-primary" type="submit"> Send </button>
    </form>
</div>